---
# Rust Role - Self-contained
# Installs Rust via rustup

- name: Add rustup, accept defaults
  ansible.builtin.shell: "curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y"
  args:
    creates: "/home/{{ target_user }}/.cargo/bin/rustup"
  become: true
  become_user: "{{ target_user }}"
  tags: ["rust"]

- name: Add rust-analyzer, clippy, rustfmt
  ansible.builtin.shell: "$HOME/.cargo/bin/rustup component add rustfmt clippy rust-analyzer"
  become: true
  become_user: "{{ target_user }}"
  changed_when: false
  tags: ["rust"]
