[Unit]
Description=Periodic restart of Thunderbird headless

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ thunderbird_refresh_interval }}
AccuracySec=1s
Persistent=true
Unit=thunderbird-headless-refresh.service

[Install]
WantedBy=timers.target

